{% extends 'main.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <link rel="stylesheet" href="{% static 'css/free_read.css' %}" type = "text/css"> <!-- css 파일 연결 -->
    <title>Review_read</title>
    {% endblock %}
 
</head>

<body>
    {% block content %}
    <div id="search-main">
        <div id="search">
            <form class="search-form-main" action="{% url 'search' %}" method="post">
                {% csrf_token %}
                <input type="search" placeholder="게시글 검색하기" aria-label="Search" name="q" value="{{q}}">
                <button class="btn-outline-success" type="submit">검색</button>
            </form> 
        </div>
    </div>
    <hr />

<!-- read_list -->
<table class="sub_news" cellspacing="0" summary="게시판의 글 제목 리스트">
    <colgroup>
        <col width="80">
        <col width="300">
        <col width="100">
        <col width="150">
        <col width="150">
</colgroup>

<thead> <!-- 표 머리글-->
            <tr>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
                <th scope="col">조회수</th>
                <th scope="col">좋아요</th>
            </tr>
            </thead>
            <tbody>
                <!-- 게시판 등록글 tr-->
                <tr>
            {% for review_board in review_board %}
                    <td class="title">
                        <a href="{% url 'review_detail' review_board.id %}">{{ review_board.title }}</a>
                    </td>
                    <!-- 추후에 td user정보로 변경할 것 -->
                    <td class="name">{{ review_board.user }}</td>
                    <td class="body">{{ review_board.pub_date }}</td>
                    <td class="date">{{ review_board.hits }}</td>
                    <td>{{ review_board.like_users.all|length }}</td>
                </tr>
            {% endfor %}
        </table>
<!-- read_list_end -->
<div id="submit">
    <button id="blue" type="submit" onclick="location.href = '{% url 'review_create' %}'">글쓰기</button>
    </div> 

<!-- 페이징처리 -->
<div class="pagination"> <!-- Pagination 컨테이너 -->
            <!-- default/back_page_number 설정-->
    <ul>
            {% if review_board.has_previous %}
            <li><a href="?page=1">처음으로</a></li>
            <li><a href="?page={{ review_board.previous_page_number }}">이전</a></li>
            {% endif %}
    <!-- page_list 설정-->
            {% for page in review_board.paginator.page_range %}
            {% if page >= review_board.number|add:-3 and page <= review_board.number|add:3 %} 
            {% if page == review_board.number %}
                <span><a href="?page={{ page }}">{{ page }}</a></span>
            {% else %}
                <a href="?page={{ page }}">{{ page }}</a>
            {% endif %}
            {% endif %}
            {% endfor %} 
    <!-- next_page 설정 -->
            {% if review_board.has_next %}
            <li><a href="?page={{review_board.next_page_number }}">다음</a></li>
            <li><a href="?page={{ review_board.paginator.num_pages }}">끝으로</a></li>
            {% endif %}
        </ul>
    </div>
<!-- 페이징 끝 -->
{% endblock %}
</body>
</html>