{% extends 'main.html' %}

{% block title %}
    <title>Review_Detail</title>
{% endblock %}

{% block content %}
    <h1>Review_Detail</h1>
    <hr>
    <p>작성자 : {{ review_board.user }}</p>
    <h3>제목 : {{ review_board.title }}</h3>
    <p>작성일 : {{ review_board.pub_date }}</p>
    <p>내용 : {{ review_board.body }}</p>
    <p>조회수 : {{ review_board.hits }}</p>

    <br>
    <a href="{% url 'review_update' review_board.id %}">글 수정하기</a>
    <br>
    <a href="{% url 'review_delete' review_board.id %}">글 삭제하기</a>

    <!--좋아요 기능-->
    <div>
        <form action="{% url 'review_like' review_board.id %}" method='POST'>
          {% csrf_token %}
          <button style='border:none;'>
          {% if user in review_board.like_users.all %}
          <i class="fas fa-heart" style="color:red; font-size: 17px;"></i>
          {% else %}
          <i class="far fa-heart" style="color:red; font-size: 17px;"></i>
          {% endif %}
        </button>
        <span>
          {{ review_board.like_users.all|length }} 명이 이 글을 좋아합니다.
        </span>
      </p>
        </form>
      </div>

    {% for comment in review_board.comment.all %}
    <p>댓글:{{ comment }}</p>
    <br>
    <a href="{% url 'review_comment_delete' review_board.id comment.id %}">댓글 삭제하기</a>
    <a href="{% url 'review_comment_update' review_board.id comment.id %}">댓글 수정하기</a>
    {% endfor %}
 
    <form method = "POST" action = "{% url 'review_detail' review_board.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type = "submit">작성</button>
    </form>

{% endblock %}