{% extends 'main.html' %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review_read</title>
</head>

<body>
{% block content %}
    <h1>Review_read</h1>
    <hr>
    <a href="{% url 'review_create' %}">글 작성하기</a>
    <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="post">
            {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{q}}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

<!-- read_list -->
    <table>
        <tr>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
            <th>좋아요</th>
        </tr>
    {% for review_board in review_board %}
        <tr>
            <td>
                <a href="{% url 'review_detail' review_board.id %}">{{ review_board.title }}</a>
            </td>
            <!-- 추후에 td user정보로 변경할 것 -->
            <td>{{ review_board.user }}</td>
            <td>{{ review_board.pub_date }}</td>
            <td>{{ review_board.hits }}</td>
            <td>{{ review_board.like_users.all|length }}</td>
        </tr>
    {% endfor %}
</table>
<!-- read_list_end-->

<!-- 페이징처리 -->
<div>
    <!-- default/back_page_number 설정-->
    {% if review_board.has_previous %}
    <a href="?page=1"">처음으로</a>
    <a href="?page={{ review_board.previous_page_number }}">이전</a>
    {% endif %}
    <!-- page_list 설정-->
    {% for page in review_board.paginator.page_range %}
    {% if page >= review_board.number|add:-3 and page <= review_board.number|add:3 %} 
    {% if page == review_board.number %}
        <span><a href="?page={{ page }}">{{ page }}</a></span>
    {% else %}
        <a href="?page={{ page }}">{{ page }}</a>
    {% endif %}
    {% endif %}
    {% endfor %} 
    <!-- next_page 설정 -->
    {% if review_board.has_next %} 
    <a href="?page={{review_board.next_page_number }}">다음</a>
    <a href="?page={{ review_board.paginator.num_pages }}">끝으로</a>
    {% endif %}
</div>
<!-- 페이징 끝 -->
{% endblock %}
</body>
</html>