{% extends 'main.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <link rel="stylesheet" href="{% static 'css/free_read.css' %}" type = "text/css"> <!-- css 파일 연결 -->
    {% endblock %}
    <title>Free_read</title>
</head>


<body>
    <main>
        {% block content %}
        <!--자유 게시판 모음-->
        <h2>자유 게시판</h2>
        <div id="search-free">
        <div id="search">
            <form class="search-form" action="{% url 'free_search' %}" method="post">
                {% csrf_token %}
                <input type="search" placeholder="게시글 검색하기" aria-label="Search" name="q" value="{{q}}">
                <button class="btn-outline-success" type="submit">검색</button>
            </form> 
        </div>
    </div>
        <hr />

        <!-- 게시판 리스트 목록 -->
        <table class="sub_news" cellspacing="0" summary="게시판의 글 제목 리스트">
            <colgroup>
                    <col width="80">
                    <col width="300">
                    <col width="100">
                    <col width="150">
            </colgroup>

            <thead> <!-- 표 머리글-->
                <tr>
                    <th scope="col">제목</th>
                    <th scope="col">내용</th>
                    <th scope="col">작성자</th>
                    <th scope="col">날짜</th>
                </tr>
            </thead>
            <tbody>
                <!-- 게시판 등록글 tr-->
                <tr>     
                {% for free_board in free_board reversed %} 
                
                    <td class="title">
                        {% csrf_token %}
                    <a href="{% url 'free_detail' free_board.id %}"> {{ free_board.title }}</a></td>
                    <td class="body">{{ free_board.body }}</td>
                    <td class="name">{{ user.username }}</td>
                    <td class="date">{{ free_board.pub_date }}</td>
                </td>
            </tr>
        {% endfor %}
            </tbody>
            </table>
        


<div id="submit">
<button id="blue" type="submit" onclick="location.href = '{% url 'free_create' %}'">글쓰기</button>
</div> 


    <!-- <div class="pagination">
        <button class="prev-btn" onclick="goToPrevPage()"><img src="img/next.png"></button>
        <span class="current-page">1</span>
        <button class="next-btn" onclick="goToNextPage()"><img src="img/next.png"></button>
    </div> -->


    {% comment %}
    <a href="{% url 'free_create' %}">글 작성하기</a> {% endcomment %}
{% endblock %} 


  
</main>



</div>
</body>
</html>