{% extends 'main.html' %}

{% block title %}
    <title>Free_Detail</title>
{% endblock %}

{% block content %}
    <h1>Free_Detail</h1>
    <hr>
    <p>작성자 : {{ free_board.user }}</p>
    <h3>제목 : {{ free_board.title }}</h3>
    <p>작성일 : {{ free_board.pub_date }}</p>
    <p>내용 : {{ free_board.body }}</p>
    <p>조회수 : {{ free_board.hits }}</p>
    <br>
    <a href="{% url 'free_update' free_board.id %}">글 수정하기</a>
    <br>
    <a href="{% url 'free_delete' free_board.id %}">글 삭제하기</a>

    <!--좋아요 기능-->
    <div>
        <form action="{% url 'free_like' free_board.id %}" method='POST'>
          {% csrf_token %}
          <button style='border:none;'>
          {% if user in free_board.like_users.all %}
          <i class="fas fa-heart" style="color:red; font-size: 17px;"></i>
          {% else %}
          <i class="far fa-heart" style="color:red; font-size: 17px;"></i>
          {% endif %}
        </button>
        <span>
          {{ free_board.like_users.all|length }} 명이 이 글을 좋아합니다.
        </span>
      </p>
        </form>
      </div>

{% for comment in free_board.comment.all %}
    <p>댓글:{{ comment }}</p>
    <br>
    <a href="{% url 'free_comment_delete' free_board.id comment.id %}">댓글 삭제하기</a>
    <a href="{% url 'free_comment_update' free_board.id comment.id %}">댓글 수정하기</a>
    {% endfor %}
 
<form method = "POST" action = "{% url 'free_detail' free_board.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type = "submit">작성</button>
</form>

{% endblock %}