{% extends 'main.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <link rel="stylesheet" href="{% static 'css/free_detail.css' %}" type="text/css"> <!-- css 파일 연결 -->
    {% endblock %}
    <title>Free_detail</title>
</head>

<main>
{% block content %}
    <h2>자유게시판</h2>
    <hr />

    <form method="post" class="detail">
        <div class="detail_form_01">
        <h2>{{ free_board.title }}</h2>
        </div>

        <div class="detail_form_02">
        {{ user.username }}
        </div>
        
        <div class="detail_form_03">
        {{ free_board.pub_date }}
        </div>

        <hr />

        <div class="detail_form_04">
        {{ free_board.body }}
        </div>
    </form>

    <a href="{% url 'free_update' free_board.id %}">글 수정하기</a>
    <br>
    <a href="{% url 'free_delete' free_board.id %}">글 삭제하기</a>

    <hr />

    <div class="comment-container">
        {% for comment in free_board.comment.all %}
            <div class="comment">
                <h4>{{ comment.author }}</h4>
                <p>{{ comment.text }}</p>
                <div class="comment-actions">
                    <a class="comment-delete" href="{% url 'free_comment_delete' free_board.id comment.id %}">댓글 삭제하기</a>
                    <a class="comment-update" href="{% url 'free_comment_update' free_board.id comment.id %}">댓글 수정하기</a>
                </div>
            </div>
        {% endfor %}
    </div>
 
    <form method="post" action="{% url 'free_detail' free_board.id %}" class="form-container">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">작성</button>
    </form>
{% endblock %}
</main>

</html>
