body {
    margin: 0; /* 페이지의 기본 마진 제거 */
    font-family: Arial, sans-serif; /* 원하는 폰트 설정 */
}
/* 메뉴바 */
#topmenu {
    width: 100%; /* 너비를 화면 가득 차도록 설정 */
    background-color: #ffffff; /* 배경색 설정 */
    height: 45px; /* 높이 조정 */
    margin-left: 220px;
    margin-top: 20px; /* 상단과 메뉴 사이 간격 조정*/
}
#topmenu ul {
    margin: 0; /* 내비게이션 메뉴의 기본 마진 제거 */
    padding: 0; /* 내비게이션 메뉴의 기본 패딩 제거 */
    list-style: none; /* 리스트 스타일 제거 */
    display: flex; /* 내비게이션 메뉴를 가로로 배치하기 위한 flex 설정 */
    justify-content: center; /* 메뉴 항목 가운데로 정렬 */
    align-items: center; /* 메뉴 항목 수직 중앙으로 정렬 */
    height: 100%; /* 내비게이션 메뉴 높이를 상위 컨테이너와 동일하게 설정 */
}
#topmenu li {
    margin: 0 10px; /* 각 메뉴 항목의 좌우 간격 조정 */
}
#topmenu .menulink {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: black;
    padding: 8px 25px; /* 메뉴 항목의 내부 여백 조정 */
   
}
#topmenu .menulink:hover {
    color: rgb(0 102 255); /* 마우스 오버 시 글자색 변경 */
}
/* 메인 */
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 20px;
}
.title{
    text-align: center;
    color:#0064FF ;
}
/* 사이드바 */
.side_bar_container{
    flex: 1;
    margin-right: 20px;
    padding: 20px;
    height: 100%;
    border-radius: 10px;
}
.side_bar_container ul{
    margin: 0; /* 내비게이션 메뉴의 기본 마진 제거 */
    padding: 0; /* 내비게이션 메뉴의 기본 패딩 제거 */
    list-style: none; /* 리스트 스타일 제거 */
    display: block; /* 내비게이션 메뉴를 세로로 배치하기 위한 flex 설정 */   
    justify-content: space-between;
    align-items: center; /* 메뉴 항목 수직 중앙으로 정렬 */
    height: 100%; /* 내비게이션 메뉴 높이를 상위 컨테이너와 동일하게 설정 */
}
.side_bar_container li{
  
   
   height: 100px;
}
.side_bar_container .side_menu{
    text-decoration: none;
    font-weight: bold; 
    font-size: 30px;
    color: black;
    padding: 8px 25px; /* 메뉴 항목의 내부 여백 조정 */
}
.side_bar_container .side_menu:hover{
    
    color: rgb(0 102 255); /* 마우스 오버 시 글자색 변경 */
}


/* 정보 */
.container{
    flex: 2;
    padding: 20px;
    border-radius: 10px;
    
    padding: 20px;
}

/* 버튼 */
input{
    width: 100px;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 10px;
    background-color: #0064FF;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold ;
    margin-top: 10px;
}

/* footer css */
.f_box{
    background-color: rgb(32,88,169);
    padding: 5px;
    text-align:left;
    display: inline-block;
    width: 100%;
    color: #ffffff;
    position: relative;
    margin-top: 200px;
 }
 #bottom_menu ul{
    display: flex;   
    margin-left: 170px;
    margin-bottom: 15px;
    list-style: none; /* 리스트 스타일 제거 */
 }
 #bottom_menu li{
    margin: 8px;
 }
 .items_block{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-right: 145px;
 }
 h3{
    margin-bottom: 10px;
    margin-left: 50px;
 }
 .items{
    margin: 0px 30px 30px 30px;
 }
.items li{
    margin: 10px;
    list-style: none;
    margin-right: 80px;
}