body {
    margin: 0; /* 페이지의 기본 마진 제거 */
    font-family: Arial, sans-serif; /* 원하는 폰트 설정 */
}

#login-signup {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    padding: 0 20px;
    max-width: 300px;
    margin-left: auto; /* 로고와 메뉴바 간의 공간을 최대한 확보 */
}

#login-signup-text {
    font-size: 15px;
    margin-left: 10px;
}

/* 메인 */
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 10px;
}
.title{
    text-align: center;
    color:#0064FF ;
}
/* 메인의 사이드바 */
.side_bar_container{
    flex: 1;
    margin-top: 15px;
    padding: 15px;
    height: 100%;
    border-radius: 10px;
}
.side_bar_container ul{
    margin: 0; /* 내비게이션 메뉴의 기본 마진 제거 */
    padding: 0; /* 내비게이션 메뉴의 기본 패딩 제거 */
    list-style: none; /* 리스트 스타일 제거 */
    display: block; /* 내비게이션 메뉴를 세로로 배치하기 위한 flex 설정 */   
    justify-content: space-between;
    align-items: center; /* 메뉴 항목 수직 중앙으로 정렬 */
    height: 100%; /* 내비게이션 메뉴 높이를 상위 컨테이너와 동일하게 설정 */
}
.side_bar_container li{
  
   
   height: 100px;
}
.side_bar_container .side_menu{
    text-decoration: none;
    font-weight: bold; 
    font-size: 15px;
    color: black;
    padding: 8px 15px; /* 메뉴 항목의 내부 여백 조정 */
}
.side_bar_container .side_menu:hover{
    
    color: rgb(0 102 255); /* 마우스 오버 시 글자색 변경 */
}

/* 회원정보 수정 */
.container{
    flex: 2;
    padding: 20px;
    border-radius: 10px;    
   
}

/* 버튼 */

/* 수정하기 버튼 */
.btn01{
    width: 100px;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 10px;
    background-color: #0064FF;
    color: white;
    font-size: 18px;
    font-weight: bold ;
}

/* 돌아가기 버튼 */
.btn02 a{
    text-decoration: none;
     color: white;
}
.btn02{
   margin-top: 10px;
}
button{
    width: 100px;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 10px;
    background-color: #0064FF;
   
    font-size: 18px;
    font-weight: bold ;
}

/* footer css */
.image-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.f_box{
    background-color: rgb(32,88,169);
    text-align:left;
    display: inline-block;
    width: 100%;
    color: #ffffff;
    position: relative;
    margin-top: 200px;
 }
 #bottom_menu ul{
    display: flex;   
    margin-left: 170px;
    margin-bottom: 15px;
    list-style: none; /* 리스트 스타일 제거 */
 }
 #bottom_menu li{
    margin: 8px;
 }
 .items_block{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-right: 145px;
 }
 .footer_content {
    margin-bottom: 10px;
    margin-left: 50px;
 }
 .items{
    margin: 0px 30px 30px 30px;
 }
.items li{
    margin: 10px;
    list-style: none;
    margin-right: 80px;
}

/* 반응형 스타일 */
@media (max-width: 768px) {

    
    

/*footer 반응형*/
    .f_box {
        margin-top: 100px;
    }

    #bottom_menu ul {
        margin-left: 0;
        justify-content: space-around;
    }

    .items_block {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .items {
        max-width: 100%;
        text-align: center;
        font-size: 8px;
    }
}