{% extends 'main.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    {% block title %}
    <link rel="stylesheet" href="{% static 'css/user_update.css' %}">
    <title>User_Update</title>
    {% endblock %}
</head>
<body>
    <header>
        <nav id="topmenu"> <!--nav 메뉴바-->
            <img src="../static/img/02.png">
            <ul>
                <li><a class="menulink" href="{% url 'main' %}">Home</a></li>
                <li><a class="menulink" href="{% url 'medicines' %}">약 모아보기</a></li>
                <li><a class="menulink" href="{% url 'specialist' %}">전문의 상담</a></li>
                <li><a class="menulink" href="{% url 'free_read' %}">자유게시판</a></li>
                <li><a class="menulink" href="{% url 'review_read' %}">리뷰게시판</a></li>
                
                
     <div id="login-signup"> <!--회원가입&로그인 작성 칸-->
        <span id="login-signup-text">
    {% if user.is_active %}
        <a  class="mypage"  href="{% url 'user_detail' user.pk %}">{{ user.username }} </a>님 안녕하세요 <a  class="b01" href="{% url 'logout' %}">로그아웃</a>
    {% else %}
        <a class="menulink" href="{% url 'signup' %}">회원가입</a>
        <a class="menulink" href="{% url 'login' %}">로그인</a>
    {% endif %}
    </span>
    </div>
    </ul>
    </nav>
    </header>
{% block content %}
    <h1 class="title">나의 정보 수정</h1>
    
     <main class="main-container">
        <div class="side_bar_container"> <!--사이드바-->
            <ul>
                <li><a class="side_menu" href="{% url 'user_detail' user.pk %}">나의 정보</a></li>
                <li><a class="side_menu" href="{% url 'my_health' %}">나의 건강</a></li>
                <li><a class="side_menu" href="{% url 'my_posts' %}">나의 리뷰</a></li>
            </ul>
        </div>
        
        <hr>
        <form method="POST" enctype="multipart/form-data" class="container"> 
        <!--enctype="multipart/form-data 는 파일 업로드를 지원하기 위한 속성-->
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" class="btn01" value="수정하기">
            <button class="btn02"><a href="{% url 'main' %}">돌아가기</a></button>
        </form>
        
     </main>

{% endblock %}
    <!-- 고정 값 -->
  <footer>
    <div class="f_box">
    <nav id="bottom_menu">
        <ul>
            <li>약과함께 소개</li>
            <li>개인정보처리방침</li>
            <li>저작권 정보</li>
            <li>이용 안내</li>
        </ul>
    </nav>
    <div class="items_block">
        <div class="items">
            <h3 class="footer_content">문의정보</h3>
            <ul>
                <li>123-1234</li>
                <li>10:00 - 18:00(Lunch 12:00 - 13:00)</li>
            </ul>
        </div> <!-- items -->
        <div class="items">
            <h3 class="footer_content">약과함께</h3>
            <ul>
                <li >주소 : 경기도 용인시 기흥구 동백대로 123</li>
                <li>전화 : 031-123-1234</li>
                <li>팩스 : 031-123-1234</li>
                <li>이메일 : 123-12-12345</li>
            </ul>
        </div> <!-- items -->
        <div class="items">
            <h3 class="footer_content">입금 정보</h3>
            <ul>
                <li>국민 123-123-123456</li>
                <li>anyonemore</li>
            </ul>
        </div> <!-- items -->   
    </div>      
    </div> <!-- box -->
</footer>
</body>
</html>
